@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&family=Playpen+Sans:wght@100;300;600&family=Sometype+Mono:wght@400;600;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
}

#header {
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1680x1050/2002/Blue-and-purple-abstract-background_1680x1050.jpg);
  width: 100%;
  height: 60px;
  background-repeat: repeat;
  background-size: cover;
  border-bottom: 1px solid silver;
}

#text-header {
font-family: 'Oswald', sans-serif;
font-size: 25px;
font-weight: lighter;
color: #ffe3e9;
float: left;
margin-left: 500px;
position: relative;
}

#main {
  background-image: url(https://images.wallpaperscraft.ru/image/single/sirenevyj_fioletovyj_svetlyj_7259_1920x1080.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

#aside {
  background-image: url(https://img.freepik.com/premium-photo/purple-mountains-in-the-night-wallpapers_1340-24028.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid silver; */
  border-radius: 30px;
  width: 600px;
  height: 300px;
  position: relative;
  top: -550px;
  float: left;
  margin-left: 370px;
  padding-top: -500px;
}

.registration {
  text-align: center;
  margin-top: 90px;
}

#well-text {
  margin-left: 32%;
  /* padding-left: 15px;
  padding-right: 15px; */
  position: relative;
  bottom: -70px;
  color: #ffe3e9;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  bottom: -60px;
}

input::placeholder {
  color: #fa255b;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

#log {
  background-color: #354857;
  width: 300px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#pass {
  background-color: #354857;
  width: 300px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 5px;
  transition: background-color 0.3s, color 0.3s;
}


#enter-log:hover {
    border: 1px solid silver;
    cursor: pointer;
    color: #fa255b;
}



#log:hover {
  border: 1px solid silver;

}



#pass:hover {
  border: 1px solid silver;
}

#enter-log {
  width: 100px;
  background-color: #354857;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #ffe3e9;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  transition: background-color 0.3s, color 0.3s;
}

#no-account {
  color: #ffe3e9;
  margin-left: 40px;
  text-decoration: none;
  transition: color 0.3s;
}

#no-account:hover {
  color: #bc98e3;
}

/* input:hover::placeholder, textarea:hover::placeholder {
    color: #354857; */
